<div class="jumbotron">
  <h1>Lotachamp 3</h1>
  <p class="lead">Utmana dina vänner i t ex en fisketävling, femkamp eller tiokamp och följ tävlingen i realtid online. Lotachamp är ett digitalt hjälpmedel för att hantera mångkamper av alla de slag. Lotachamp är lätt att använda och fungerar på alla plattformar, såsom smart phone, surfplatta eller laptop. Välkommen in och kolla runt!</p>
  <p><a href="#" class="btn btn-primary btn-lg">Enter lotachamp &raquo;</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Komma igång</h2>
    <p>För att få tillgång till Lotachamp behöver du skicka ett mejl till mattias.falt(a)lotalota.se och bifoga ditt namn och den mejladress du vill använda. En gratisversion finns med begränsad funktionalitet.</p>
  </div>
  <div class="col-md-4">
    <h2>Skapa turneringar</h2>
    <p>Konstruera din egen turnering och bjud in dina vänner att tävla mot dig. För att underlätta processen finns färdiga mallar att tillgå.</p>
  </div>
  <div class="col-md-4">
    <h2>Digital resultattavla</h2>
    <p>Glöm allt trassel med lösa papper som måste sammanställas. Med Lotachamp så kan de tävlande se alla resultat och följa den digitala resultattavlan i realtid.</p>
  </div>
</div>

